<h1>イベント企画一覧を表示します！！</h1>


<!--　投稿したイベントがあれば一覧表示する -->
<% if @events.any? %>
  <h3>Events (<%= @events.count %>)</h3>
  <div class="events">
    <% @events.each do |event| %>
      <%= render 'events/all_events', event: event %>
    <% end %>
  </div>
  <%= will_paginate @events %>
<% end %>