<h1><%= @event.maintitle %></h1>
<p><%#= @event.about %></p>

<% if @event.content1? %>
  <div class="panel panel-primary">
    <div class="panel-heading">イベント内容</div>
    <div class="panel-body">
      <%= @event.content1 %>
    </div>
  </div>
<% end %>

